<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="My Sample Suite">
<listeners>
<listener class-name="utils.Listeners"></listener>
</listeners>
  <test name="Regression Tests">
    <classes>
      <class name="TestClass.OrangeHRMTest"/>
    </classes>
  </test>
</suite>
